*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  color: #fff;
}
body {
  margin: 0px;
  
}
.container {
  margin: 0px auto;
  max-width: 428px;
  background-color:#313438;
  min-height: 100vh;
  
}
header {
  background: rgb(29, 88, 1);
  background: rgb(3, 117, 73);
  background: linear-gradient(
    90deg,
    rgba(3, 117, 73, 1) 0%,
    rgba(177, 207, 51, 1) 100%
  );
  padding: 0.5em 0;
}
.relationship {
  padding: 0.4em 0.5em;
  border-radius: 100px;
  border-top-left-radius: 0px;
  background-color: #75a85e;
  width: 6em;
  text-align: center;
  font-size: 1em;
}
.ic {
  padding-left: 1em;
  font-size: 1.7em;
}
.ic:hover {
  color: #313438;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.contact-info {
  padding: 2.5em 1em 0 1em;
  color: #fff;
}
.info {
  display: flex;
  width: 90%;
  align-items: center;
  margin: 2em auto;
  padding: 1em 2em;
  border-radius: 20px;
  background: #313438;
  box-shadow: 8px -8px 16px #2a2c30, -8px 8px 16px #383c40;
}
.info:hover {
  display: flex;
  width: 90%;
  align-items: center;
  margin: 2em auto;
  padding: 1em 2em;
  border-radius: 20px;
  background-color: #48494a;
  box-shadow: 8px -8px 16px #2a2c30, -8px 8px 16px #383c40;
}
#location {
  padding: 0.5em 0.6em;
}
a {
  color: #fff;
  text-decoration: none;
}
i {
  font-size: 1.7em;
  padding-left: 1em;
}
hr {
  border: 1px solid #48494a;
}
p {
  padding-left: 2em;
}
.btn {
  padding: 2em 3.5em;
  text-align: center;
}
.icon-gradient {
  background: linear-gradient(
    90deg,
    rgba(3, 117, 73, 1) 0%,
    rgba(177, 207, 51, 1) 100%
  );
  padding: 0.5em;
  border-radius: 100px;
}
